.historyContainer {
    max-height: 562px;
    overflow: auto;
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    padding: 0 20px;
}

.historyLine {
    font-family: sans-serif,
}

button {
    display: block;
}